* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: 1px transparent solid;
}
.menu-item-wrapper {
  border: 1px transparent solid;
}
/* .menu-item-wrapper.active {
  
} */
.menu-item.active {
  font-weight: 800;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.scroll-menu-arrow--disabled {
  visibility: hidden;
}
