.footerArea {
  min-height: 40vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* border: 1px solid black; */
}

.footerArea * {
  z-index: 1;
}
.footerContent {
  grid-column: 2/7;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.foot-section {
  display: grid;
  grid-template-rows: 1fr 1.35fr;
  padding: 80px 0px 80px 30px;
}
.foot-section .heading {
  font-size: 24px;
  font-weight: 600;
}
.foot-section .heading span {
  border-bottom: 4px solid;
}

.foot-section .footer-links {
  font-size: 10px;
  font-weight: 500;
}
.custom-icon-sizing {
  font-size: 20px;
}

.explore-us {
  grid-column: 1/2;
}
.explore-us .footer-links {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.social-link {
  grid-column: 2/3;
}
.social-link .footer-links {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.social-logo *,
.indv-social span {
  margin: auto 0;
  text-align: left;
}
.social-link .indv-social {
  display: grid;
  grid-template-columns: 1fr auto auto;
}
.social-link .social-logo {
  padding: 0 0.4rem;
}
.contact-us {
  grid-column: 3/4;
}
.contact-us .footer-links {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.contact-us .indv-contact {
  display: grid;
  grid-template-columns: auto 1fr;
}
.contact-us .contact-logo {
  padding: 0 0.8rem 0 0;
}
.news-letter {
  grid-column: 4/6;
}
.news-letter-area {
  display: grid;
  grid-template-columns: 1fr;
}

.news-letter-inp input {
  height: 40px;

  border: none;
  width: 40%;
  padding: 0 20px;
}
.news-letter-inp input:focus {
  outline: none;
}
.news-letter-inp button {
  font-family: Montserrat;
  border: none;
  color: white;
  height: 40px;
  text-align: center;
  font-size: 16px;
  width: 15%;
  font-weight: 600;
}
.news-letter-inp button:active {
  transform: scale(0.98);
}

.news-letter-checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
}
.news-letter-checkbox p {
  padding: 0 10px;
}

.check-box {
  width: 10px;
  height: 10px;
}
/* Responsiveness */
@media only screen and (max-width: 1000px) {
  .foot-section .heading {
    font-size: 18px;
  }
  .custom-icon-sizing {
    font-size: 15px;
  }
  .foot-section {
    padding: 80px 5px 80px 15px;
  }
  .news-letter-inp input {
    height: 27px;
    width: 40%;
    padding: 0 10px;
    font-size: 10px;
  }
  .news-letter-inp button {
    height: 27px;
    font-size: 11px;
  }
  .foot-section .footer-links {
    font-size: 8px;
  }

  .news-letter-checkbox p {
    font-size: 7px;
    padding: 0 5px;
  }
  .social-link .social-logo {
    padding: 0 0.2rem;
  }
  .contact-us .contact-logo {
    padding: 0 0.4rem 0 0;
  }
}
/* Tablets */
@media only screen and (max-width: 700px) {
  .footerArea {
    min-height: 30vh;
  }
  .footerContent {
    margin: 0 0 0 20px;
  }
  .foot-section .heading {
    font-size: 11px;
  }
  .custom-icon-sizing {
    font-size: 12px;
  }
  .footerContent {
    grid-column: 1/7;
  }
  .foot-section {
    grid-template-rows: 0.5fr 1fr;
    padding: 20px 0px 40px 10px;
  }
  .news-letter-inp input {
    height: 25px;
    width: 40%;
    padding: 0 5px;
    font-size: 8px;
  }
  .news-letter-inp button {
    height: 25px;
    font-size: 9px;
    width: 24%;
  }
  .foot-section .footer-links {
    font-size: 6.8px;
  }
  .news-letter-checkbox p {
    font-size: 6px;
    padding: 0 5px;
  }
  .social-link .social-logo {
    padding: 0 0.2rem;
  }
  .contact-us .contact-logo {
    padding: 0 0.4rem 0 0;
  }
}
/* mobile */
@media only screen and (max-width: 500px) {
  .footerArea {
    height: 25vh;
  }
  .foot-section .heading {
    font-size: 10px;
  }
  .custom-icon-sizing {
    font-size: 9px;
  }
  .foot-section {
    padding: 40px 0px 50px 10px;
  }
  .news-letter-inp input {
    height: 20px;
    width: 40%;
    padding: 0 5px;
    font-size: 8px;
  }
  .footerContent {
    margin: 0 0 0 10px;
  }
  .news-letter-inp button {
    height: 20px;
    font-size: 8px;
    width: 20%;
  }
  .foot-section .footer-links {
    font-size: 6px;
  }
  .news-letter-checkbox p {
    font-size: 5px;
    padding: 0 3px;
  }
  .social-link .social-logo {
    padding: 0 0.1rem;
  }
  .contact-us .contact-logo {
    padding: 0 0.2rem 0 0;
  }
  .foot-section .heading span {
    border-bottom: 2px solid;
  }
  .check-box {
    width: 8px;
    height: 8px;
  }
}
@media only screen and (max-width: 350px) {
  .footerArea {
    height: 25vh;
  }
  .foot-section .heading {
    font-size: 9px;
  }
  .custom-icon-sizing {
    font-size: 8px;
  }
  .foot-section {
    padding: 40px 0px 40px 10px;
  }

  .news-letter-inp input {
    height: 15px;
    width: 40%;
    padding: 0 5px;
    font-size: 5px;
  }
  .news-letter-inp button {
    height: 15px;
    font-size: 6px;
    width: 30%;
  }
  .foot-section .footer-links {
    font-size: 5.5px;
  }
  .news-letter-checkbox p {
    font-size: 5px;
    padding: 0 3px;
  }
  .social-link .social-logo {
    padding: 0 0.1rem;
  }
  .contact-us .contact-logo {
    padding: 0 0.2rem 0 0;
  }
  .foot-section .heading span {
    border-bottom: 2px solid;
  }
  .check-box {
    width: 6px;
    height: 6px;
  }
}
