.testing {
  height: 100vh;
  /* border: 1px solid black; */
  display: grid;
  align-items: center;
  justify-content: center;
}

.prof-inch {
  font-family: Montserrat;
  /* font-size: 0.7rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 1rem;
  z-index: 1;
}
.title-profile {
  font-size: 1.2rem;
  grid-column: 1/4;
  text-align: center;
  font-weight: 800;
}
.person-profile {
  margin: 1rem 2.4rem;
  height: 250px;
  width: 180px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-rows: 200px auto auto;
  text-align: center;
}
.image-prof {
  border-radius: 50%;
  background-image: url('https://www.saenitkurukshetra.com/2nd%20year/2nd%20year/Accelerons_PrakarshGupta.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0 10px 0;
}
.name-prof {
  font-size: 1rem;
  font-weight: 500;
}
.desg-prof {
  font-size: 0.8rem;
  font-weight: 400;
  color: gray;
}
@media only screen and (max-width: 1000px) {
  .person-profile {
    margin: 1rem;
    height: 220px;
    width: 160px;
    display: grid;
    grid-template-rows: 180px auto auto;
  }
  .name-prof {
    font-size: 0.75rem;
  }
  .desg-prof {
    font-size: 0.5rem;
  }
  .title-profile {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .person-profile {
    margin: 0.8rem;
    height: 180px;
    width: 140px;
    display: grid;
    grid-template-rows: 160px auto auto;
  }
  .name-prof {
    font-size: 0.65rem;
  }
  .desg-prof {
    font-size: 0.45rem;
  }
  .title-profile {
    font-size: 0.8rem;
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 400px) {
  .testing {
    height: 75vh;
  }
  .person-profile {
    margin: 0.5rem;
    height: 140px;
    width: 90px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 110px auto auto;
  }
  .name-prof {
    font-size: 0.55rem;
    font-weight: 600;
  }
  .desg-prof {
    font-size: 0.4rem;
    font-weight: 400;
  }
  .title-profile {
    font-size: 0.6rem;
    margin: 0.5rem 0;
  }
}
