@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  /* border: 1px black solid; */
}
html,
body {
  /* height: 100vh; */
  font-family: 'Montserrat', sans-serif;
}
.one-card {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* border: 1px solid black; */
}
.center-items {
  display: grid;
  align-items: center;
  justify-content: center;
}
.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.social-icons i {
  padding: 0.4rem;
  margin: 0.3rem;
}
.align-right {
  display: grid;
  justify-content: right;
}
@media only screen and (max-width: 700px) {
  .social-icons i {
    padding: 0.2rem;
    margin: 0.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .social-icons i {
    padding: 0.1rem;
    margin: 0.1rem;
  }
  .vertical-line .right-box {
    border-left: 2px solid black;
  }
  .vertical-line .left-box {
    border-right: 2px solid black;
  }
}
